<div class="container">
	<div class="row">
		<div class="span6">
			<h1>nodejs-emberjs-mongodb</h1>
			<p>Proof of concept application.</p>
			<h3>Dependencies</h3>
			<ul>
				<li><a href="http://nodejs.org/">Node.js</a> 0.6.x</li>
				<li><a href="http://requirejs.org/">Require.js</a> 1.0.x</li>
				<li><a href="http://expressjs.com/">Express.js</a> 3.0.x</li>
				<li><a href="http://mongoosejs.com/">Mongoose.js</a> 2.5.x</li>
				<li><a href="http://www.mongodb.org/">MongoDB</a> 2.0.x</li>
				<li><a href="http://jquery.com/">jQuery</a> 1.7.2</li>
				<li><a href="http://emberjs.com/">Ember.js</a> 0.9.8.1</li>
				<li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> 2.0.3</li>
			</ul>
		</div>
		<div class="span6">
			<h1>Authors <div class="btn btn-mini" {{action refresh}}>Refresh</div></h1>
			<table class="table">
				<thead>
				<th>Id</th>
				<th>Name</th>
				</thead>
				<tbody>
					{{#each Em.App.authorsController}}
					<tr>
						<td>{{_id}}</td>
						<td>{{name}}</td>
						<td><div class="btn btn-mini" {{action removeAuthor}}>remove</div></td>
					</tr>
					{{/each}}
				</tbody>
			</table>

			<div class="well form-inline">
				{{view Ember.TextField valueBinding="newAuthor.name" id="authorName" placeholder="New author name"}}
				<div class="btn" {{action createAuthor}}>Create new author</div>
			</div>
		</div>
	</div>
</div>
